<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Beach_beach_sign_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,96}</string>
                <key>spriteSourceSize</key>
                <string>{64,96}</string>
                <key>textureRect</key>
                <string>{{224,0},{64,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DomLevel3_2x2_DomLevel3_2x2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,160}</string>
                <key>spriteSourceSize</key>
                <string>{192,160}</string>
                <key>textureRect</key>
                <string>{{320,128},{192,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DomLevel6_3x2_DomLevel6_3x2_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DomLevel6_3x2_DomLevel6_3x2_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{32,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DomPalma_DomPalma_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,96}</string>
                <key>spriteSourceSize</key>
                <string>{64,96}</string>
                <key>textureRect</key>
                <string>{{160,0},{64,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mushrms_Mshrm_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{64,0},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Reservoir_Reservoir_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,128}</string>
                <key>spriteSourceSize</key>
                <string>{160,128}</string>
                <key>textureRect</key>
                <string>{{288,0},{160,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>angle_rock_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{0,128},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>angle_rock_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{160,128},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mapReource.png</string>
            <key>size</key>
            <string>{512,288}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7da9b528fd90ea400410bc74b350b106:c748f3bbd358b9b902ae4626fa14074f:e78f4ca5398380bb82e220e03d1f2899$</string>
            <key>textureFileName</key>
            <string>mapReource.png</string>
        </dict>
    </dict>
</plist>
